@import '@servicenow/sass-kit/host';

.container {
    width: 1000px;
    margin: 100px auto;
}

.container h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}